
/* Outer structure */

.picafinna {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 400px;
  min-height: 300px;
}
.picafinna-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  cursor: pointer;
}
.picafinna-outer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  max-width: 800px;
  max-height: 600px;
  background: #eee;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.picafinna-detail .picafinna-outer-wrapper {
  box-shadow: none;
}


/* Inner structure */

.picafinna-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.picafinna-wrapper-row {
  display: table-row;
}
.picafinna-wrapper-cell {
  display: table-cell;
  vertical-align: middle;
}
.picafinna-divider-horizontal {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ddd;
}
.picafinna-close-details {
  position: absolute;
  top: -10px;
  left: -21px;
  height: 30px;
  cursor: pointer;
}
.picafinna-close-details img {
  height: 100%;
}


/* Header */

.picafinna-logo-wrapper {
  width: 64px;
  padding: 7px;
  text-align: center;
}
.picafinna-logo-image {
  height: 64px;
  border: 0;
}
.picafinna-search-field-wrapper {
  width: 100%;
  padding: 7px;
}
.picafinna-search-field {
  width: 100%;
}
.picafinna-search-buttons-wrapper {
  width: 200px;
  padding: 7px;
}
.picafinna-search-buttons-wrapper .picafinna-btn {
  margin-right: 14px;
}
.picafinna-search-filter-btn {
  float: right;
}

/* Pagination */

.picafinna-pagination {
  padding: 15px;
}
.picafinna-pagination-text,
.picafinna-prev-page-btn,
.picafinna-next-page-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}


/* Results */

.picafinna-results {
  height: 100%;
  transition: opacity .5s;
}
.picafinna-loading .picafinna-results {
  opacity: .5;
  transition: opacity .5s .5s;
}
.picafinna-result-list-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.picafinna-result-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 15px 0 0 15px;
  overflow: auto;
}
.picafinna-result-item {
  position: relative;
  float: left;
  margin: 0 15px 15px 0;
  width: 130px;
  height: 130px;
  background-color: #888;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.picafinna-result-item:hover {
  outline: 3px solid #bbb;
}
.picafinna-result-item:active {
  outline: 3px solid #0b0;
}
.picafinna-result-image {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.picafinna-result-attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 0 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  background: rgba(0,0,0,.3);
  font-size: 6pt;
  cursor: help;
}
.picafinna-result-status {
  font-style: italic;
  color: #888;
  padding-right: 15px;
}


/* Details */

.picafinna-details-container {
  width: 100%;
  height: 531px;
  padding: 26px 0 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.picafinna-details-left-side,
.picafinna-details-right-side {
  float: left;
  height: 100%;
  width: 50%;
  padding: 0 0 0 15px;
}
.picafinna-detail-image {
  width: 100%;
}
.picafinna-detail-image-text {
  color: #848484;
  font-size: 12px;
  margin: 0;
}
.picafinna-detail-title {
  color: #00a3ad;
  line-height: 20px;
  font-weight: normal;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.picafinna-detail-title a {
  color: #00a3ad;
}
.picafinna-detail-paragraph {
  font-size: 12px;
}
.picafinna-detail-meta dt,
.picafinna-detail-meta dd {
  font-weight: normal;
  font-size: 12px;
  margin: 0;
  float: left;
}
.picafinna-detail-meta dt {
  width: 30%;
}
.picafinna-detail-meta dd {
  width: 70%;
}
.picafinna-detail-meta dl {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 12px;
}

/* IE<=10 Fix */

.picafinna-outer-wrapper > .picafinna-wrapper,
.picafinna-outer-wrapper > .picafinna-wrapper > .picafinna-wrapper-row,
.picafinna-outer-wrapper > .picafinna-wrapper > .picafinna-wrapper-row > .picafinna-wrapper-cell {
  display: block;
}
.picafinna-results {
  height: auto;
  position: relative;
}
.picafinna-outer-wrapper > .picafinna-wrapper:before,
.picafinna-results:before,
.picafinna-results > .picafinna-wrapper-cell:before {
  content: "";
  height: 100%;
  float: left;
}
.picafinna-results:after,
.picafinna-results > .picafinna-wrapper-cell:after {
  content: "";
  display: block;
  clear: left;
}
.picafinna-results > .picafinna-wrapper-cell {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}




/* Picafinna as block element */
.picafinna-block {
  position: static;
  min-width: 400px;
  min-height: 300px;
}
.picafinna-outer-wrapper-block {
  position: static;
  background: none;
  box-shadow: none;
  margin: auto;
  max-width: 800px;
  max-height: 600px;
  width: 90%;
  height: 90%;
  float:left;
}
.picafinna-results-block {
  height: 100%;
  transition: opacity .5s;
}
.picafinna-result-list-wrapper-block {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.picafinna-result-list-block {
  position: static;
  width: auto;
  height: auto;
  padding: 15px 0 0 15px;
  overflow: auto;
}

 .picafinna-outer-wrapper-block .picafinna-search-field-wrapper{
  padding-left: 15px;
}